.title {
    font-weight: 600;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.date {
    font-family: 'Roboto', sans-serif;
}

.add {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    background-color: #fad712;
    border: none;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}